/* -------------- global styling -------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

#root,
body {
  width: 100%;
  height: 100%;
  font-family: 'Yantramanav', sans-serif;
  color: whitesmoke;
}

/* ------- divide page up in grid areas ------- */
.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 32.5% 5% 62.5%;
  grid-template-areas: 
  "sidebar header "
  "sidebar menu"
  "sidebar playlist";
} 

/* -------------- sidebar styling ------------- */
.sidebar {
  grid-area: sidebar;
  padding: 10%;
  font-size: 22px;
  line-height: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lobster Two', cursive;
  background-image: linear-gradient(to bottom,rgb(13, 10, 17), rgb(31, 25, 39),  rgba(31, 25, 39, 0.945));
}

.song-info-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.song-info-tooltip {
  width: 100%;
  height: 40%;
  position: relative;
}

.song-info-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-img {
  position: absolute;
  width: 90%;
  right: 5%;
  box-shadow: 6px 10px 15px rgba(3, 2, 3, 0.5);
  background-color: rgba(245, 245, 245, 0.062); 
}

/* ------------- tooltip styling -------------- */
.url-tooltip .tooltiptext,
.song-info-tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
  font-size: 16px;
  width: 200px;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  background-color: rgba(224, 39, 122, 0.5);
  box-shadow: 6px 10px 15px rgba(3, 2, 3, 0.5);
  color: rgba(245, 245, 245, 0.6);
  border-radius: 15px;
  padding: 5px;
  line-height: 1.5em;
  position: absolute;
  z-index: 2;
}

/* positioning tooltips */
.url-tooltip {
  position: relative;
}

.url-tooltip .tooltiptext {
  bottom: 125%;
  right: -8.5%;
}

.url-tooltip:hover .tooltiptext,
.song-info-tooltip:hover .tooltiptext {
  opacity: 1;
}

/* ------------- button styling -------------- */
.btn {
  border: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
  height: 38px;
  font-family: 'Lobster Two', cursive;
  box-shadow: 6px 10px 15px rgba(3, 2, 3, 0.5);
}

/* outer buttons */
.delete-btn,
.display-form-btn {
  border-radius: 15px;
  width: 150px;
  background-color:rgb(30, 177, 245);
  transition: background-color 200ms ease-out;
}

/* inner buttons */
.add-btn,
.cancel-btn {
  width: 75px;
  transition: background-color 200ms ease-out;
}

.add-btn {
  background-color:rgb(30, 177, 245);
}

.cancel-btn {
  border-radius: 0px 15px 15px 0px;
  background-color: rgb(250, 73, 114);
}

.btn:hover {
  background-color:rgb(224, 39, 121);
}

/* ------------ nav link styling -------------- */
hr {
  border-radius: 15px;
  border: 1px solid rgba(3, 2, 3, 0.5);
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.5);
  transition: color 200ms ease-out;
}

a:hover {
  color: rgb(250, 73, 114);
}

/* ------------- header styling --------------- */
header {
  grid-area: header;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-image generated dynamically inside component */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------------- form styling --------------- */
.add-song-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

select,
.rating-field,
.input-field {
  padding: 10px;
  border: none;
  margin-right: 5px;
  background-color: rgba(245, 245, 245, 0.904);
  box-shadow: 6px 10px 15px rgba(3, 2, 3, 0.5);
  height: 38px;
  outline: none;
}

/* style placeholder texts */
.rating-field,
select,
::placeholder {
  color: rgb(13, 10, 17);
  font-family: 'Yantramanav', sans-serif;
}

.input-field:nth-child(1) {
  border-radius: 15px 0px 0px 15px;
}

.add-song-form label .fa-star,
select {
  cursor: pointer;
}

/* star rating styling */
 .rating-field {
  font-size: 13px;
}

.add-song-form label {
  margin-right: 5px;
}

/* hide input boxes */
.checkbox,
.radio {
  display: none;
}

/* higlight hovered star + all stars that follow it */
 .rating-field label:hover,
 .rating-field label:hover ~ label,
 .rating-field label input:checked ~ .fa-star {  
  color: rgb(250, 73, 114);
  transition: color 200ms ease-out;
}

/* reverse star directions */
.rating-field {
  display: flex;
  flex-direction: row-reverse;
}

.rating-field label:nth-child(5) {
  margin-left: 5px;
}

/* --------------- menu styling --------------- */
.menu-container {
  grid-area: menu;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom,rgb(13, 10, 17), rgba(31, 25, 39, 0.925));
}

.menu {
  margin-bottom: 5px;
  position: relative;
}

.filter-menu,
.sort-menu {
  font-size: 18px;
  text-align: left;
  font-family: 'Lobster Two', cursive;
}

/* ignore first (empty) th */
.sort-menu th ~ th:hover {
  color:rgb(250, 73, 114);
  transition: color 300ms ease;
}

.sort-menu th ~ th,
.filter-menu li label {
  cursor: pointer;
}

/* styling hidden filter menu */
.filter-menu li {
  list-style: none;
  display: inline-flex;
  width: 152px;
  height: 35px;
  color: rgb(13, 10, 17);
}

.filter-menu li label {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: background-color 300ms ease-in;
  background-color:rgb(30, 177, 245);
}

/* highlight multiple selected genres */
.filter-menu li input:checked ~ label,
.filter-menu li label:hover {
  background-color:rgb(224, 39, 121);
}

.filter-menu {
  position: absolute;
  z-index: 3;
}

/* ------------- playlist styling ------------- */
.menu,
.playlist {
  width: 100%;
}

.playlist-container {
  grid-area: playlist;
  overflow: scroll;
  padding: 20px;
  background-image: linear-gradient(to top,rgb(13, 10, 17), rgba(31, 25, 39, 0.945), rgba(31, 25, 39, 0.945), rgba(31, 25, 39, 0.945));
}

/* align song items and menu titles */
.menu-title,
.song-item-data {
  width: 23.5%;
  padding-left: 20px;
}

/* underline each song item */
.song-item td {
  border-bottom: 1px solid rgba(3, 2, 3, 0.5);
}

/* style individual song items */
.song-item {
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 80px;
  padding: 5px 0px;
  color: rgba(245, 245, 245, 0.6);
  transition: background-color 300ms ease;
}

.song-item:hover {
  background-color: rgba(250, 73, 114, 0.05);
}

.song-item-image {
  width: 70px;
  height: 70px;
  box-shadow: 3px 5px 6px rgba(3, 2, 3, 0.5);
  background-color: rgba(245, 245, 245, 0.062); 
}

/* ------------ about page styling ------------ */
.about-container {
  grid-area: playlist;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  line-height: 1.5em;
  background-image: linear-gradient(to top,rgb(13, 10, 17), rgba(31, 25, 39, 0.945), rgba(31, 25, 39, 0.945), rgba(31, 25, 39, 0.945));
}

.about-container h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
}

.about-container p {
  margin: 30px;
  width: 70%;
}